<launch>
    <arg name= "color" default = "red" doc="Color of the robot. Use red,green,blue,or black"/>
    <arg name= "use_jsp" default = "false" doc="use_jsp:=true to use the Joint State Publisher or use_jsp:=false to not load the Joint State Publisher"/>

    <group ns="$(arg color)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nusim)/config/nusim.rviz -f 'world'" required="true"/>
        <param name="robot_description" command = "$(find xacro)/xacro $(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro color:=$(arg color)" />
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" if="$(arg use_jsp)"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    </group>

    <!-- Launch Node with parameters inside -->
    <node name="nusim" pkg="nusim" type="nusim" output = "screen">
        <rosparam file="$(find nusim)/config/basic_world.yaml" />
        <rosparam file="$(find nuturtle_description)/config/diff_params.yaml" />
        <remap from="/red/wheel_cmd" to="/wheel_cmd"/>
        <remap from="/red/sensor_data" to="/sensor_data"/>
        <param name ="sim_flag" value ="sim" />
        <rosparam file="$(find nuturtle_control)/config/default_config.yaml"/>
    </node>
</launch>