<launch>
    <arg name= "rate" default = "500" />
    <arg name= "x0" default = "0" />
    <arg name= "y0" default = "0" />
    <arg name= "theta0" default = "0" />
    <arg name= "num_obstacles" default = "0" />
    <arg name= "use_rviz" default = "true" doc="use_rviz:=true to use RVIZ or use_rviz:=false to not load RVIZ"/>
    <arg name= "use_jsp" default = "false" doc="use_jsp:=true to use the Joint State Publisher or use_jsp:=false to not load the Joint State Publisher"/>
    <arg name= "color" default = "red" doc="Color of the robot. Use red,green,blue,or black"/>

    <group ns="$(arg color)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nusim)/config/nusim.rviz -f 'world'" if="$(arg use_rviz)" required="true"/>
        <param name="robot_description" command = "$(find xacro)/xacro $(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro color:=$(arg color)" />
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" if="$(arg use_jsp)"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    </group>

    <rosparam file="$(find nusim)/config/basic_world.yaml" />
    <node name="nusim" pkg="nusim" type="nusim" output = "screen">
        <param name ="rate" value ="$(arg rate)" />
        <param name ="x0" value ="$(arg x0)" />
        <param name ="y0" value ="$(arg y0)" />
        <param name ="theta0" value ="$(arg theta0)" />
        <param name ="num_obstacles" value ="$(arg num_obstacles)" />
    </node>
</launch>